@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1xpuxi');
    src:  url('../fonts/icomoon.eot?1xpuxi#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1xpuxi') format('truetype'),
      url('../fonts/icomoon.woff?1xpuxi') format('woff'),
      url('../fonts/icomoon.svg?1xpuxi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-envelope:before {
    content: "\e900";
  }
  .icon-angle-down:before {
    content: "\e901";
  }
  .icon-caret:before {
    content: "\e902";
  }
  .icon-info:before {
    content: "\e903";
  }
  .icon-pinterest:before {
    content: "\e904";
  }
  .icon-linkedin:before {
    content: "\e905";
  }
  .icon-behance:before {
    content: "\e906";
  }
  .icon-twitter:before {
    content: "\e907";
  }
  .icon-facebook:before {
    content: "\e908";
  }
  .icon-camera:before {
    content: "\e909";
  }
  .icon-chat:before {
    content: "\e90a";
  }
  .icon-clock:before {
    content: "\e90b";
  }
  .icon-desktop:before {
    content: "\e90c";
  }
  .icon-flag:before {
    content: "\e90d";
  }
  .icon-gears:before {
    content: "\e90e";
  }
  .icon-heart:before {
    content: "\e90f";
  }
  .icon-hotairballoon:before {
    content: "\e910";
  }
  .icon-linegraph:before {
    content: "\e911";
  }
  .icon-quote:before {
    content: "\e912";
    color: #fff;
  }
  .icon-strategy:before {
    content: "\e913";
  }
  .icon-tools:before {
    content: "\e914";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location:before {
    content: "\e947";
  }  

*,
*:before,
*:after {
    box-sizing: border-box;
}

.body {
    font: 300 15px, 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    width: 100%;
    background-color: #fff;
    color: #777;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.wrapper_fix {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}

.main {
    flex-grow: 1;
    width: 100%;
}

h1 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 1.7em;
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font: 18px, 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: .5em;
    text-transform: uppercase;
}

.images_content img {
    flex-wrap: wrap;
    width: 20em;
    margin-right: 1em;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all 1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    -webkit-transition: all .1s;
    -ms-transition: all .1s;
}

.images_content img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
}

.logo {
    z-index: 10;
}

#bg {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
    font: 2px, 'Dosis', Arial, Helvetica, sans-serif;
    word-spacing: 10px;
    text-transform: uppercase;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 24px 0;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header_nav-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 4px;
    z-index: 400;
}

.header_nav-list li {
    padding-left: 25px;
}

.scroll-arrow {
    z-index: 10;
    height: 26px;
    width: 26px;
    bottom: 20px;
    left: 50%;
    position: absolute;
}

.hero {
    margin-top: -69px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    display: flex;
    align-items: center;
}

.hero_content {
    padding-bottom: 100px;
    text-align: center;
}

.hero_text {
    color: #d1d1d1;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 19px;
    padding-top: 50px;
}

.main section {
    width: 100%;
    height: 100%;
    padding: 0;
    top: 0;
}

.section-about-studio {
    margin-top: 135px;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 0 15px;
}

.col--1-3 {
    width: calc(100% / 3);
    color: #d1d1d1;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 24px;
    padding-top: 50px;
}

.col--1-2 {
    width: 50%;
}

.section {
    padding: 135px 0;
}

.section_title {
    margin-bottom: 70px;
}

.section_title--alt {
    margin-bottom: 20px;
    color: #fff;
}

.section_title--iconed {
    position: relative;
    padding-top: 54px;
    margin-bottom: 30px;
    line-height: 1;
    left: 50%;
    transform: translateX(-50%);
}

&:before {
    content: "\e912";
    font-family: "icomoon";
    color: #fff;
    font-size: 34px;
    position: relative;
}

.text-center {
    text-align: center;
}

.tabs_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.tabs_list-item {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
}

.tabs_link {
    transition: opacity .3s ease;
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .04em;
    text-transform: uppercase;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: top center;
    height: 15px;
    padding-top: 55px
}

.tabs_link.tab-active {
    opacity: 1;
}

.tabs_content-item:not(.tab-active) {
    display: none;
}

.exclusive {
    min-height: 445px;
    background-color: #000;
    color: #fff;
    padding: 0;
}

.exclusive_container {
    position: relative;
    padding-top: 135px;
    padding-bottom: 135px;
}

.exclusive_row {
    align-items: center;
}

.exclusive p {
    margin: 0;
}

.exclusive p:last-of-type {
    margin-bottom: 30px;
}

.exclusive_img {
    top: -30px;
    right: 15px;
}

.btn_base {
    transition: background-color .3s ease;
    color: #000;
    min-height: 40px;
    min-width: 170px;
    padding: 2px 5px;
    background-color: #cfcfcf;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.btn_base:hover {
    background-color: #777;
}

@media (max-width: 1179px) {

    .exclusive_img {
        max-width: calc(50% - 60px);
    }
}

.section-services {
    margin-top: 135px;
}

h3 {
    color: #777;
    font-family: 'Dosis', sans-serif;
    font-size: 26px;
    letter-spacing: .7em;
    text-transform: uppercase;

}

h4 {
    color: #000;
    font-size: 12px;
    letter-spacing: .7em;
    text-transform: uppercase;

}

.text_block {
    float: left;
    width: 26%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

p {
    font-size: 22px;
    text-align: justify;
    padding: 7px;
    margin: 0;
}

.undertext_block {
    float: left;
    width: 26%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.undertext_block p {
    font-size: 14px;
    font-family: 'Dosis';
    letter-spacing: .5em;
    text-transform: uppercase;
    text-align: center;
}

.undertext_block p.name {
    font-size: 16px;
}

.services {
    text-align: center;
    margin-top: 15%;
}

.services_funtions {
    display: flex;
    justify-content: space-between;
}

.services_funtions p {
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 10px;
}

.services_funtions p:hover {
    opacity: 1;
}

.section-portfolio {
    margin-top: 135px;
    background-color: #fff;
    font: 15px, 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    width: 100%;
    color: #777;
    text-align: center;
    
}

.portfolio_images {
    display: inline-block;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    height: 100%;
}

/* benefits styles */

.benefits_block {
    text-align: center;
    margin-bottom: 70px;
}

.benefits_block i {
    font-size: 50px;
    color: #111;
    margin-bottom: 30px;
    display: block;
}

.benefits_title {
    margin-bottom: 24px;
    columns: #111;
    font: 14px 'Dosis', Arial,Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.benefits_text {
    font-size: 14px;
    font-weight: 300;
    column-rule-color: #777;
    text-align: left;
}

/* testimonials styles */

.section-testimonials {
    background-color: #000;
    padding: 130px 0 130px;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
}

.slick-dots li.slick-active button {
    background-color: transparent;
}

.slick-dots button {
    transition: background-color .3s ease;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0;
    outline: none;
    width: 10px;
    height: 10%;
    margin: 0 3px;
    font-style: 0;
    text-indent: -999px;
    overflow: hidden;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
}

.tesimonials_arrow {
    left: -30px;
    top: 50%;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition:opacity .3s ease;
    background: none;
    border: none;
    outline: none;
    -webkit-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    cursor: pointer;
}

.testimonials_arrow i {
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform-origin: center center;
    position: relative;
    top: 50%;
    left: 40px;
    columns: #000;
    font-style: 16px;
}

.tesimonials_arrow:hover {
    opacity: 0.7;
}

.tesimonials_arrow:before {
    content: '';
    background: #fff;
    width: 60px;
    height: 60px;
    transform-origin: center center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: block;
}

.testimonials_arrow.testimonials_next {
    left: auto;
    right: -30px;
}

.testimonials_arrow.testimonials_next i {
    left: auto;
    right: 40px;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
}

.testimonial {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 190px;
}
.testimonial_text {
    color: rgba(255, 255, 255, .75);
    font-size: 20px;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

.testimonial_author {
    color: rgba(255,255,255,.3);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1;
    margin-top: 20px;
    display: block;
}

/* news styles */

.section-news {
    padding: 130px 0 130px;
}

.article_text {
  left: 216px;
  top: 6496px;
  width: 214px;
  height: 11px;
  margin-bottom: 20px;
  font-size: 15px;
}

.article_author {
    font-size: 14px;
    font-family: "Dosis";
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 46px;
    text-align: center;
}

.article_text_content {
    font-size: 15px;
    font-family: "Open Sans";
    color: rgb(119, 119, 119);
    line-height: 1.733;
    text-align: left;
}

#more {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

/* icons */

.contact_icon {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.contact_icon:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    display: block;
}

.contact_icon span {
    position: absolute;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.contact_link {
    font-size: 15px;
    font-style: normal;
    color: #000;;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-stretch: normal;
    text-decoration: none;
}

.contact_link:hover {
    text-decoration: underline;
} 

.contact_block {
    display: flex;
    align-items: flex-start;
}

.contact_title {
    color:#777;
    font: 12 "Dosis", Arial, Helvetica, sans-serif;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.contact_form {
    padding-top: 70px;
}

.contact_map-holder {
    position: relative;
    margin-top: 140px;
}

.contact_map {
    width: 100%;
    min-height: 410px;
}

.contact_map-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0,0.87);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

input {
    border: none;
    box-shadow: none;
}

.form_input {
    transition: border-color .3s ease;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #444;
    height: 36px;
    padding: 6px 14px;
    line-height: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font: 12px 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: .2em;
    display: block;
    box-shadow: none;
    margin-bottom: 10px;
}

.form_input--area {
    height: 82px;
    resize: none;
}

.form_input:focus {
    border-color:rgb(96,96,230);
    border-radius: 3px;
}

.form_input:placeholder,
.form_input:-webkit-input-placeholder,
.form_input:-moz-placeholder {
    color: #777;
}

.form_btn {
    transition: background-color .3s ease;
    background-color: #000;
    color: #fff;
    height: 36px;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 13px 'Dosis', Arial, Helvetica, sans-serif;
    line-height: 1;
    letter-spacing: 0.2em;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    border: none;
    outline: none;
    box-shadow: none;
}

.form_btn:only-child {
    margin-left: auto;
}

.form_btn:hover {
    background-color: #555;
}


.form_footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}






   

