.body {
    font: 300 15px, 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    widows: 100%;
    background-color: #fff;
    color: #777;
}

.wrapper {
    display: flex;
    widows: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.wrapper_fix {
    display: flex;
}

.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}

.main{
    flex-grow: 1;
    width: 100%;
}

h1 {
    color: #fff;
    font: 30px, 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: 1,7em;
    text-transform: uppercase;
}

h2 {
    color: #fff;
    font: 18px, 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: .5em;
    text-transform: uppercase;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    letter-spacing: normal;
    padding: 0;
    margin: 0;
}